h1{
	font-size: 72px;
	text-align: center;
}

p{
	font-size: 36px;
	text-align: center;
	line-height: 3;
	letter-spacing: 2px;
}

li{
	font-size: 28px;
	text-align: left;
	line-height: 2;
	letter-spacing: 1px;
}

.dumplings{
	text-align: center;
}